body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(0, 0, 0);
    font-family : 'Open Sans', sans-serif;
    background-image: url("https://cdn.discordapp.com/attachments/639869522387664896/876911001453342813/uf2t6giad2g71.png");
    text-align: center;
    
    
}
.card{
   
    color: rgb(61, 60, 60);
    padding: 6em;
    border-radius: 30px;
    width: 100%;
    max-width: 180px;
    margin: 1em;
    box-shadow: 1px 1px 6px rgb(53, 52, 52);
    justify-content: center;
     background: rgba(135, 207, 235, 0.123);

    
    
}
.corpo{
    justify-content: center;
    
}
.img{
    align-items: center;
    height: 6em;
    right: 6em;
    margin-left: 8px;
    margin: 0.8em;
    opacity: 78%;
}
.button {
    margin: 0.5em;
    border: none;
    border-radius: 5%;
    height: 2em;
    width: 8em;
    outline: none;
    background-color: #3235332b;
    color: white;

}
button:hover {
    background: #e7e4e462 ;
}
.login {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 18px;
    height: 16px;
    background-color: #0303032b;
    color: rgb(245, 245, 245);
    font-family: inherit;
    font-size: 80%;
    
}
.i{
    background: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male4-512.png) no-repeat center center;
    background-size: 15px;
    width: 17px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    opacity: 35%;
  }
  .i2{
    background: url(https://cdn1.iconfinder.com/data/icons/video-player-5/120/btn_Unlock-512.png) no-repeat center center;
    background-size: 15px;
    width: 17px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
  }
.remember {
    opacity: 50%;
    font-size: 13px;
    font-family : 'Open Sans', sans-serif;

}
.google-btn {
    width: 80px;
    height: 42px;
    background: rgba(255, 255, 255, 0.479);
    border-radius: 50px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-icon {
    align-items: center;
    height: 1.2em;
    right: 1.5em;
    margin-left: 8px;
    margin: 0.7em;
    opacity: 78%;
}
.google-btn:hover {
    background: #e7e4e462 ;
}
.facebook-icon{
    align-items: center;
    height: 1.2em;
    right: 1.5em;
    margin-left: 8px;
    margin: 0.7em;
    opacity: 78%;
}
.facebook-btn {
    width: 80px;
    height: 42px;
    background: rgba(255, 255, 255, 0.479);
    border-radius: 50px;
    box-shadow: 0 3px 4px 0 rgba(247, 247, 247, 0);
}
.facebook-btn:hover {
    background: #e7e4e462 ;
}
.img2{
    align-items: flex-start;
    height: 6em;
    margin-left: 8px;
    margin: -11.8em;
    right: 50%;
    opacity: 78%;
}

  

